In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
engine = create_engine('mysql://stock:Stock_789@192.168.88.106:3306/stock?charset=utf8&use_unicode=1')

In [3]:
stock_code='000001.SZ'

In [4]:
#读取历史数据
df = pd.read_sql_query("select * from stock_historic where ts_code ='%s'" % stock_code, engine)

In [5]:
# 加工历史数据
historic=df
historic['code']=historic['ts_code'].str.split('.').str[0]
historic['type']=historic['ts_code'].str.split('.').str[1]
historic['trade_date']=pd.to_datetime(historic['trade_date'],format='%Y-%m-%d')
# historic['YYYYMM']=historic.trade_date.map(lambda x: x.strftime('%Y%q'))
historic['YYYYMM'] = historic.trade_date.map(lambda x: str(x.year)+'m'+str(x.month))
historic['YYYYQQ'] = historic.trade_date.map(lambda x: str(x.year)+'q'+str(x.quarter))
historic.head(5)

,id,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,update,code,type,YYYYMM,YYYYQQ
0,1,000001.SZ,2020-09-14,15.01,15.30,14.92,15.30,15.01,0.29,1.9320,680251.0,1027510.0,2020-09-15 16:35:48,000001,SZ,2020m9,2020q3
1,2,000001.SZ,2020-09-11,15.18,15.30,14.82,15.01,15.34,-0.33,-2.1512,954236.0,1431840.0,2020-09-15 16:35:48,000001,SZ,2020m9,2020q3
2,3,000001.SZ,2020-09-10,15.32,15.48,15.20,15.34,15.21,0.13,0.8547,957092.0,1469400.0,2020-09-15 16:35:48,000001,SZ,2020m9,2020q3
3,4,000001.SZ,2020-09-09,15.26,15.56,15.13,15.21,15.43,-0.22,-1.4258,1013570.0,1554010.0,2020-09-15 16:35:48,000001,SZ,2020m9,2020q3
4,5,000001.SZ,2020-09-08,15.00,15.43,15.00,15.43,14.94,0.49,3.2798,1407600.0,2154220.0,2020-09-15 16:35:48,000001,SZ,2020m9,2020q3

In [8]:
# 读取股票资金表
df2 = pd.read_sql_query("select * from stock_money where code ='%s'" % stock_code[0:6], engine)
df2.head(5)

,id,date,code,main,superBig,big,medium,small,modification
0,9,2020-09-25,000001,-9450.12万,-9455.55万,5.44万,4058.25万,5391.87万,2020-10-15 19:48:03
1,10,2020-09-24,000001,-1.25亿,-1.70亿,4425.52万,-5094.51万,1.76亿,2020-10-15 19:48:03
2,11,2020-09-23,000001,-1527.03万,-1687.88万,160.85万,-312.03万,1839.06万,2020-10-15 19:48:03
3,12,2020-09-22,000001,-1.24亿,-4574.60万,-7860.21万,5011.22万,7423.59万,2020-10-15 19:48:03
4,13,2020-09-21,000001,-1.99亿,-1.33亿,-6574.98万,7810.03万,1.21亿,2020-10-15 19:48:03

In [9]:
stock_money=df2
def ws(x):  #  定义数据清洗函数
    if x[-2:] == "万亿":
        r=float(x[:-2]) * 10000*100000000
    elif x[-1] == "万":
        r=float(x[:-1]) * 10000
    elif x[-1] == "亿":
        r=float(x[:-1]) * 100000000
    else:
        r=x
    return r
stock_money['main']=stock_money.main.apply(ws)
stock_money['superBig']=stock_money.superBig.apply(ws)
stock_money['big']=stock_money.big.apply(ws)
stock_money['medium']=stock_money.medium.apply(ws)
stock_money['small']=stock_money.small.apply(ws)

In [10]:
stock_money['date']= pd.to_datetime(stock_money['date'],format='%Y-%m-%d')

In [11]:
mmm=pd.merge(historic,stock_money,how='left',left_on=['code','trade_date'],right_on=['code','date'],
             left_index=False, right_index=False,suffixes=('_x', '_y'), copy=True)
mmm.head(5)

,id_x,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,...,YYYYMM,YYYYQQ,id_y,date,main,superBig,big,medium,small,modification
0,1,000001.SZ,2020-09-14,15.01,15.30,14.92,15.30,15.01,0.29,1.9320,...,2020m9,2020q3,18.0,2020-09-14,95168000.0,105000000.0,-9552200.0,-43000000.0,-52168000.0,2020-10-15 19:48:03
1,2,000001.SZ,2020-09-11,15.18,15.30,14.82,15.01,15.34,-0.33,-2.1512,...,2020m9,2020q3,19.0,2020-09-11,-249000000.0,-184000000.0,-65243300.0,123000000.0,127000000.0,2020-10-15 19:48:03
2,3,000001.SZ,2020-09-10,15.32,15.48,15.20,15.34,15.21,0.13,0.8547,...,2020m9,2020q3,20.0,2020-09-10,97676800.0,82262300.0,15414500.0,-49908700.0,-47768100.0,2020-10-15 19:48:03
3,4,000001.SZ,2020-09-09,15.26,15.56,15.13,15.21,15.43,-0.22,-1.4258,...,2020m9,2020q3,21.0,2020-09-09,56139500.0,32421700.0,23717800.0,-37002800.0,-19136600.0,2020-10-15 19:48:03
4,5,000001.SZ,2020-09-08,15.00,15.43,15.00,15.43,14.94,0.49,3.2798,...,2020m9,2020q3,22.0,2020-09-08,293000000.0,270000000.0,22944600.0,-125000000.0,-168000000.0,2020-10-15 19:48:03

In [170]:
with pd.ExcelFile('./DataAnalysis/MacroData.xlsx') as xls:
    MONEY = pd.read_excel(xls, 'MONEY')
    GDP=pd.read_excel(xls,'GDP')
    CPI=pd.read_excel(xls,'CPI')
    PMI=pd.read_excel(xls,'PMI')
    MONEY_STOCK=pd.read_excel(xls,'MONEY_STOCK')

In [171]:
# ---加工表money
MONEY=MONEY.iloc[3:,[1,4,7,10]]
MONEY.rename(columns={'Unnamed: 10':'date'},inplace=True)
MONEY['date']=pd.to_datetime(MONEY['date'],format='%Y-%m-%d')
MONEY['YYYYMM']=MONEY.date.map(lambda x:str(x.year)+'m'+str(x.month))

      货币和准货币（M2）  货币（M1） 流通中的现金（M0）       date   YYYYMM
3        2164100  602300      82400 2020-09-01   2020m9
4        2136800  601300      80000 2020-08-01   2020m8
5    2.12546e+06  591193    79867.2 2020-07-01   2020m7
6    2.13495e+06  604318    79459.4 2020-06-01   2020m6
7    2.10018e+06  581111    79706.8 2020-05-01   2020m5
8    2.09353e+06  570150    81485.2 2020-04-01   2020m4
9    2.08092e+06  575050    83022.2 2020-03-01   2020m3
10   2.03083e+06  552701    88187.1 2020-02-01   2020m2
11   2.02307e+06  545532    93249.2 2020-01-01   2020m1
12   1.98649e+06  576009    77189.5 2019-12-01  2019m12
13   1.96143e+06  562487    73973.8 2019-11-01  2019m11
14    1.9456e+06  558144    73395.4 2019-10-01  2019m10
15   1.95225e+06  557138    74129.8 2019-09-01   2019m9
16   1.93549e+06  556798    73152.6 2019-08-01   2019m8
17   1.91941e+06  553043    72689.2 2019-07-01   2019m7
18   1.92136e+06  567696      72581 2019-06-01   2019m6
19   1.89115e+06  544356    72798.5 2019-05-01   2019m5
20   1.88467e+06  540615    73965.8 2019-04-01   2019m4
21   1.88941e+06  547576    74941.6 2019-03-01   2019m3
22   1.86743e+06  527190    79484.7 2019-02-01   2019m2
23   1.86594e+06  545638    87470.6 2019-01-01   2019m1
24   1.82674e+06  551686    73208.4 2018-12-01  2018m12
25   1.81318e+06  543499    70563.3 2018-11-01  2018m11
26   1.79556e+06  540128    70106.6 2018-10-01  2018m10
27   1.80167e+06  538574    71254.3 2018-09-01   2018m9
28   1.78867e+06  538325    69775.4 2018-08-01   2018m8
29    1.7762e+06  536624    69530.6 2018-07-01   2018m7
30   1.77018e+06  543945    69589.3 2018-06-01   2018m6
31   1.74306e+06  526277    69774.8 2018-05-01   2018m5
32   1.73768e+06  525448    71476.5 2018-04-01   2018m4
..           ...     ...        ...        ...      ...
126       673922  240580    38904.8 2010-06-01   2010m6
127       663351  236498      38653 2010-05-01   2010m5
128       656561  233910    39657.5 2010-04-01   2010m4
129       649947  229398    39080.6 2010-03-01   2010m3
130       636072  224287    42865.8 2010-02-01   2010m2
131       625609  229589    40758.6 2010-01-01   2010m1
132       610225  221446      38247 2009-12-01  2009m12
133       594605  212493    36343.9 2009-11-01  2009m11
134       586643  207546    35730.2 2009-10-01  2009m10
135       585405  201708    36787.9 2009-09-01   2009m9
136       576699  200395    34406.6 2009-08-01   2009m8
137       573103  195889    34239.3 2009-07-01   2009m7
138       568916  193138      33641 2009-06-01   2009m6
139       548264  182026    33559.5 2009-05-01   2009m5
140       540481  178214    34257.3 2009-04-01   2009m4
141       530627  176541    33746.4 2009-03-01   2009m3
142       506708  166150    35141.6 2009-02-01   2009m2
143       496135  165214    41082.4 2009-01-01   2009m1
144       475167  166217      34219 2008-12-01  2008m12
145       458645  157827    31607.4 2008-11-01  2008m11
146       453133  157194    31317.8 2008-10-01  2008m10
147       452899  155749    31724.9 2008-09-01   2008m9
148       448847  156890    30851.6 2008-08-01   2008m8
149       446362  154992    30687.2 2008-07-01   2008m7
150       443141  154820    30181.3 2008-06-01   2008m6
151       436222  153345    30169.3 2008-05-01   2008m5
152       429314  151695    30789.6 2008-04-01   2008m4
153       423055  150867    30433.1 2008-03-01   2008m3
154       421038  150178    32454.5 2008-02-01   2008m2
155       417846  154873    36673.2 2008-01-01   2008m1

[153 rows x 5 columns]

In [172]:
# ---加工表GDP
GDP=GDP.iloc[3:,[1,3,5,7,9]]
GDP.rename(columns={'Unnamed: 9':'date'},inplace=True)
GDP['date']=pd.to_datetime(GDP['date'],format='%Y-%m-%d')
GDP['YYYYQQ']=GDP.date.map(lambda x:str(x.year)+'q'+str(x.quarter))
GDP

     国内生产总值     第一产业     第二产业     第三产业       date  YYYYQQ
3    456614    26053   172759   257802 2020-06-01  2020q2
4    206504  10186.2    73638   122680 2020-03-01  2020q1
5    990865  70466.7   386165   534233 2019-12-01  2019q4
6    712845    43005   276912   392928 2019-09-01  2019q3
7    460637    23207   179122   258308 2019-06-01  2019q2
8    218063   8769.4  81806.5   127487 2019-03-01  2019q1
9    919281  64745.2   364835   489701 2018-12-01  2018q4
10   660472  39806.4   260811   359854 2018-09-01  2018q3
11   425998  21579.5   167699   236720 2018-06-01  2018q2
12   202036   8575.7  76598.2   116862 2018-03-01  2018q1
13   832036  62099.5   331580   438356 2017-12-01  2017q4
14   596607  39106.6   236212   321288 2017-09-01  2017q3
15   383818  20850.8   151638   211329 2017-06-01  2017q2
16   181868   8205.9  69315.5   104346 2017-03-01  2017q1
17   746395  60139.2   295428   390828 2016-12-01  2016q4
18   534829    38411   209924   286494 2016-09-01  2016q3
19   343818  20868.7   134523   188426 2016-06-01  2016q2
20   162410   8312.7  61106.8  92990.5 2016-03-01  2016q1
21   688858  57774.6   281339   349745 2015-12-01  2015q4
22   496285  36398.5   202983   256904 2015-09-01  2015q3
23   319688  19225.5   131456   169006 2015-06-01  2015q2
24   151138   7373.2  60505.9  83258.8 2015-03-01  2015q1
25   643563  55626.3   277283   310654 2014-12-01  2014q4
26   462734  35104.3   199557   228073 2014-09-01  2014q3
27   297250  18249.4   128586   150414 2014-06-01  2014q2
28   140760     7140  59127.4  74492.4 2014-03-01  2014q1
29   592963  53028.1   261956   277979 2013-12-01  2013q4
30   425191  33163.7   187744   204284 2013-09-01  2013q3
31   272968  17258.8   120994   134716 2013-06-01  2013q2
32   129450   6869.1  55862.3  66718.1 2013-03-01  2013q1
33   538580  49084.5   244643   244852 2012-12-01  2012q4
34   386768  31013.3   176009   179746 2012-09-01  2012q3
35   248678  16357.3   113752   118570 2012-06-01  2012q2
36   117358     6446  52317.4  58594.3 2012-03-01  2012q1
37   487940  44781.4   227039   216120 2011-12-01  2011q4
38   349928  28591.6   162703   158633 2011-09-01  2011q3
39   223366    14736   104080   104550 2011-06-01  2011q2
40   104470   5592.8    47195  51682.2 2011-03-01  2011q1
41   412119  38430.8   191630   182059 2010-12-01  2010q4
42   292812  24245.4   135696   132872 2010-09-01  2010q3
43   186849  12611.6  86788.2  87448.9 2010-06-01  2010q2
44  87501.3     4826  39365.2  43310.1 2010-03-01  2010q1
45   348518  33583.8   160172   154762 2009-12-01  2009q4
46   247692  21227.9   113243   113221 2009-09-01  2009q3
47   157845  11233.1  71928.9    74683 2009-06-01  2009q2
48  73979.2   4364.8  32549.6  37064.8 2009-03-01  2009q1
49   319245  32464.1   149957   136824 2008-12-01  2008q4
50   230546    21024   108758   100763 2008-09-01  2008q3
51   148086  11198.7  69862.8    67024 2008-06-01  2008q2
52  69373.6   4367.5  31613.8  33392.4 2008-03-01  2008q1
53   270092  27674.1   126634   115785 2007-12-01  2007q4
54   191423  17335.7  89771.7  84315.7 2007-09-01  2007q3
55   121941   8983.1  57110.7  55847.1 2007-06-01  2007q2
56  57159.3     3473  25983.8  27702.5 2007-03-01  2007q1
57   219438    23317   104362  91759.7 2006-12-01  2006q4
58   155817  14700.4  73931.3  67185.1 2006-09-01  2006q3
59  99752.2   7762.7  46994.1  44995.3 2006-06-01  2006q2
60  47078.9   3012.7  21418.7  22647.4 2006-03-01  2006q1

In [173]:
# ---加工表CPI
CPI=CPI.iloc[3:,[1,5,9,13]]
CPI.rename(columns={'Unnamed: 13':'date'},inplace=True)
CPI['date']=pd.to_datetime(CPI['date'],format='%Y-%m-%d')
CPI['YYYYMM']=CPI.date.map(lambda x:str(x.year)+'m'+str(x.month))
CPI

        全国     城市     农村       date   YYYYMM
3    101.7  101.6  102.1 2020-09-01   2020m9
4    102.4  102.1  103.2 2020-08-01   2020m8
5    102.7  102.4  103.7 2020-07-01   2020m7
6    102.5  102.2  103.2 2020-06-01   2020m6
7    102.4  102.3    103 2020-05-01   2020m5
8    103.3    103    104 2020-04-01   2020m4
9    104.3    104  105.3 2020-03-01   2020m3
10   105.2  104.8  106.3 2020-02-01   2020m2
11   105.4  105.1  106.3 2020-01-01   2020m1
12   104.5  104.2  105.3 2019-12-01  2019m12
13   104.5  104.2  105.5 2019-11-01  2019m11
14   103.8  103.5  104.6 2019-10-01  2019m10
15     103  102.8  103.6 2019-09-01   2019m9
16   102.8  102.8  103.1 2019-08-01   2019m8
17   102.8  102.7  102.9 2019-07-01   2019m7
18   102.7  102.7  102.7 2019-06-01   2019m6
19   102.7  102.7  102.8 2019-05-01   2019m5
20   102.5  102.5  102.6 2019-04-01   2019m4
21   102.3  102.3  102.3 2019-03-01   2019m3
22   101.5  101.5  101.4 2019-02-01   2019m2
23   101.7  101.8  101.7 2019-01-01   2019m1
24   101.9  101.9  101.9 2018-12-01  2018m12
25   102.2  102.2  102.2 2018-11-01  2018m11
26   102.5  102.5  102.6 2018-10-01  2018m10
27   102.5  102.4  102.5 2018-09-01   2018m9
28   102.3  102.3  102.3 2018-08-01   2018m8
29   102.1  102.1    102 2018-07-01   2018m7
30   101.9  101.8  101.9 2018-06-01   2018m6
31   101.8  101.8  101.7 2018-05-01   2018m5
32   101.8  101.8  101.7 2018-04-01   2018m4
..     ...    ...    ...        ...      ...
126  102.9  102.8  103.2 2010-06-01   2010m6
127  103.1  102.9  103.3 2010-05-01   2010m5
128  102.8  102.7    103 2010-04-01   2010m4
129  102.4  102.3  102.6 2010-03-01   2010m3
130  102.7  102.6  102.9 2010-02-01   2010m2
131  101.5  101.4  101.8 2010-01-01   2010m1
132  101.9  101.8  102.1 2009-12-01  2009m12
133  100.6  100.4  100.9 2009-11-01  2009m11
134   99.5   99.3   99.9 2009-10-01  2009m10
135   99.2   99.1   99.4 2009-09-01   2009m9
136   98.8   98.7     99 2009-08-01   2009m8
137   98.2   98.1   98.4 2009-07-01   2009m7
138   98.3   98.2   98.6 2009-06-01   2009m6
139   98.6   98.5     99 2009-05-01   2009m5
140   98.5   98.3     99 2009-04-01   2009m4
141   98.8   98.6   99.3 2009-03-01   2009m3
142   98.4   98.1   99.2 2009-02-01   2009m2
143    101  100.7  101.5 2009-01-01   2009m1
144  101.2  100.9  101.9 2008-12-01  2008m12
145  102.4  102.2  102.9 2008-11-01  2008m11
146    104  103.7  104.6 2008-10-01  2008m10
147  104.6  104.4  105.3 2008-09-01   2008m9
148  104.9  104.7  105.4 2008-08-01   2008m8
149  106.3  106.1  106.8 2008-07-01   2008m7
150  107.1  106.8  107.8 2008-06-01   2008m6
151  107.7  107.3  108.5 2008-05-01   2008m5
152  108.5  108.1  109.3 2008-04-01   2008m4
153  108.3    108    109 2008-03-01   2008m3
154  108.7  108.5  109.2 2008-02-01   2008m2
155  107.1  106.8  107.7 2008-01-01   2008m1

[153 rows x 5 columns]

In [174]:
# ---加工表PMI
PMI=PMI.iloc[2:,[1,3,5]]
PMI.rename(columns={'Unnamed: 5':'date'},inplace=True)
PMI['date']=pd.to_datetime(PMI['date'],format='%Y-%m-%d')
PMI['YYYYMM']=PMI.date.map(lambda x:str(x.year)+'m'+str(x.month))
PMI

      制造业  非制造业       date   YYYYMM
2    51.5  55.9 2020-09-01   2020m9
3      51  55.2 2020-08-01   2020m8
4    51.1  54.2 2020-07-01   2020m7
5    50.9  54.4 2020-06-01   2020m6
6    50.6  53.6 2020-05-01   2020m5
7    50.8  53.2 2020-04-01   2020m4
8      52  52.3 2020-03-01   2020m3
9    35.7  29.6 2020-02-01   2020m2
10     50  54.1 2020-01-01   2020m1
11   50.2  53.5 2019-12-01  2019m12
12   50.2  54.4 2019-11-01  2019m11
13   49.3  52.8 2019-10-01  2019m10
14   49.8  53.7 2019-09-01   2019m9
15   49.5  53.8 2019-08-01   2019m8
16   49.7  53.7 2019-07-01   2019m7
17   49.4  54.2 2019-06-01   2019m6
18   49.4  54.3 2019-05-01   2019m5
19   50.1  54.3 2019-04-01   2019m4
20   50.5  54.8 2019-03-01   2019m3
21   49.2  54.3 2019-02-01   2019m2
22   49.5  54.7 2019-01-01   2019m1
23   49.4  53.8 2018-12-01  2018m12
24     50  53.4 2018-11-01  2018m11
25   50.2  53.9 2018-10-01  2018m10
26   50.8  54.9 2018-09-01   2018m9
27   51.3  54.2 2018-08-01   2018m8
28   51.2    54 2018-07-01   2018m7
29   51.5    55 2018-06-01   2018m6
30   51.9  54.9 2018-05-01   2018m5
31   51.4  54.8 2018-04-01   2018m4
..    ...   ...        ...      ...
125  52.1  58.8 2010-06-01   2010m6
126  53.9  58.1 2010-05-01   2010m5
127  55.7  57.8 2010-04-01   2010m4
128  55.1  57.3 2010-03-01   2010m3
129    52    57 2010-02-01   2010m2
130  55.8  58.1 2010-01-01   2010m1
131  56.6  58.8 2009-12-01  2009m12
132  55.2  58.4 2009-11-01  2009m11
133  55.2  59.5 2009-10-01  2009m10
134  54.3  57.9 2009-09-01   2009m9
135    54  57.3 2009-08-01   2009m8
136  53.3  57.3 2009-07-01   2009m7
137  53.2  55.4 2009-06-01   2009m6
138  53.1  54.9 2009-05-01   2009m5
139  53.5  53.5 2009-04-01   2009m4
140  52.4  54.4 2009-03-01   2009m3
141    49  55.1 2009-02-01   2009m2
142  45.3  53.7 2009-01-01   2009m1
143  41.2  50.8 2008-12-01  2008m12
144  38.8  51.2 2008-11-01  2008m11
145  44.6  53.1 2008-10-01  2008m10
146  51.2    55 2008-09-01   2008m9
147  48.4  52.9 2008-08-01   2008m8
148  48.4  55.7 2008-07-01   2008m7
149    52  57.4 2008-06-01   2008m6
150  53.3  57.4 2008-05-01   2008m5
151  59.2  58.4 2008-04-01   2008m4
152  58.4  58.9 2008-03-01   2008m3
153  53.4  59.3 2008-02-01   2008m2
154    53  60.2 2008-01-01   2008m1

[153 rows x 4 columns]

In [175]:
# ---加工表MONEY_STOCK
MONEY_STOCK=MONEY_STOCK.iloc[2:,[0,1,3,5,7,9,11,13]]
MONEY_STOCK.rename(columns={'日期':'date'},inplace=True)
MONEY_STOCK['date']=pd.to_datetime(MONEY_STOCK['date'],format='%Y-%m-%d')
MONEY_STOCK['主力净流入']=MONEY_STOCK.主力净流入.apply(ws)
MONEY_STOCK['超大单净流入']=MONEY_STOCK.超大单净流入.apply(ws)
MONEY_STOCK['大单净流入']=MONEY_STOCK.大单净流入.apply(ws)
MONEY_STOCK['中单净流入']=MONEY_STOCK.中单净流入.apply(ws)
MONEY_STOCK['小单净流入']=MONEY_STOCK.小单净流入.apply(ws)
MONEY_STOCK

,date,上证,深证,主力净流入,超大单净流入,大单净流入,中单净流入,小单净流入
2,2020-10-16,3336.36,13532.7,-2.738600e+10,-8.075000e+09,-1.931100e+10,-3.410000e+08,2.772700e+10
3,2020-10-15,3332.18,13624.9,-3.385900e+10,-1.127800e+10,-2.258200e+10,9.500000e+08,3.291000e+10
4,2020-10-14,3340.78,13691,-3.674900e+10,-1.442600e+10,-2.232200e+10,1.362000e+09,3.538700e+10
5,2020-10-13,3359.75,13798.6,-1.923500e+10,-4.456000e+09,-1.477900e+10,-4.370000e+08,1.967200e+10
6,2020-10-12,3358.47,13708.1,2.980700e+10,2.589000e+10,3.918000e+09,-1.602400e+10,-1.378400e+10
7,2020-10-09,3272.08,13289.3,2.036000e+10,1.776600e+10,2.594000e+09,-9.536000e+09,-1.082400e+10
8,2020-09-30,3218.05,12907.5,-1.514000e+10,-4.635000e+09,-1.050600e+10,-1.878000e+09,1.701800e+10
9,2020-09-29,3224.36,12900.7,-5.680000e+08,2.641000e+09,-3.210000e+09,-3.988000e+09,4.557000e+09
10,2020-09-28,3217.53,12760.9,-2.196800e+10,-5.432000e+09,-1.653600e+10,-1.983000e+09,2.395100e+10
11,2020-09-25,3219.42,12814.2,-2.132900e+10,-6.075000e+09,-1.525400e+10,-2.042000e+09,2.337200e+10
12,2020-09-24,3223.18,12816.6,-5.165600e+10,-2.369100e+10,-2.796600e+10,3.196000e+09,4.846100e+10
13,2020-09-23,3279.71,13110.1,-8.864000e+09,1.640000e+08,-9.028000e+09,-4.114000e+09,1.297800e+10
14,2020-09-22,3274.3,13023.4,-3.345500e+10,-1.057500e+10,-2.287900e+10,-2.031000e+09,3.548600e+10
15,2020-09-21,3316.94,13149.5,-3.172200e+10,-1.435500e+10,-1.736700e+10,4.428000e+09,2.729500e+10
16,2020-09-18,3338.09,13245.1,1.076900e+10,1.709300e+10,-6.325000e+09,-1.225500e+10,1.487000e+09
17,2020-09-17,3270.44,13015.2,-1.526200e+10,-2.891000e+09,-1.237100e+10,-2.857000e+09,1.811900e+10
18,2020-09-16,3283.92,13011.3,-2.774500e+10,-1.041300e+10,-1.733200e+10,-8.200000e+08,2.856500e+10
19,2020-09-15,3295.68,13143.5,-6.097000e+09,3.771000e+09,-9.868000e+09,-6.028000e+09,1.212500e+10
20,2020-09-14,3278.81,13022,-9.445000e+09,4.980000e+08,-9.943000e+09,-3.103000e+09,1.254800e+10
21,2020-09-11,3260.35,12943,-3.474000e+09,4.250000e+09,-7.724000e+09,-5.820000e+09,9.295000e+09
22,2020-09-10,3234.82,12742.9,-5.185700e+10,-1.799600e+10,-3.386100e+10,1.054000e+09,5.080200e+10
23,2020-09-09,3254.63,12861.8,-5.909500e+10,-2.279400e+10,-3.630100e+10,5.413000e+09,5.368200e+10
24,2020-09-08,3316.42,13293.3,-2.537700e+10,-6.728000e+09,-1.864900e+10,-1.357000e+09,2.673400e+10
25,2020-09-07,3292.59,13284,-6.433300e+10,-3.040000e+10,-3.393300e+10,8.042000e+09,5.629100e+10
26,2020-09-04,3355.37,13656.7,-3.179400e+10,-1.127500e+10,-2.051900e+10,-1.008000e+09,3.280200e+10
27,2020-09-03,3384.98,13772.4,-4.922500e+10,-2.168400e+10,-2.754000e+10,3.416000e+09,4.580900e+10
28,2020-09-02,3404.8,13887.4,-2.623000e+10,-6.731000e+09,-1.949900e+10,-1.627000e+09,2.785700e+10
29,2020-09-01,3410.61,13849.7,-2.859500e+10,-8.630000e+09,-1.996400e+10,6.630000e+08,2.793200e+10
30,2020-08-31,3395.68,13758.2,-2.690700e+10,-7.429000e+09,-1.947800e+10,1.850000e+09,2.505800e+10
31,2020-08-28,3403.81,13851.3,4.595000e+09,1.670800e+10,-1.211300e+10,-1.279600e+10,8.201000e+09
...,...,...,...,...,...,...,...,...
74,2020-06-30,2984.67,11992.4,-1.343000e+09,8.638000e+09,-9.981000e+09,-7.470000e+09,8.814000e+09
75,2020-06-29,2961.52,11752.4,-4.409400e+10,-2.134400e+10,-2.275000e+10,6.967000e+09,3.712600e+10
76,2020-06-24,2979.55,11813.5,-2.133000e+10,-5.925000e+09,-1.540500e+10,-1.163000e+09,2.249200e+10
77,2020-06-23,2970.62,11794,-2.474300e+10,-9.283000e+09,-1.546100e+10,1.840000e+08,2.456000e+10
78,2020-06-22,2965.27,11702.4,-1.929200e+10,-3.698000e+09,-1.559400e+10,-2.550000e+09,2.184200e+10
79,2020-06-19,2967.63,11668.1,-1.040000e+08,1.065600e+10,-1.076000e+10,-1.007900e+10,1.018300e+10
80,2020-06-18,2939.32,11494.5,-1.629600e+10,-1.064000e+09,-1.523200e+10,-4.090000e+09,2.038500e+10
81,2020-06-17,2935.87,11420.8,-2.568900e+10,-9.745000e+09,-1.594400e+10,8.550000e+08,2.483400e+10
82,2020-06-16,2931.75,11399,1.122000e+09,5.651000e+09,-4.529000e+09,-5.793000e+09,4.671000e+09
83,2020-06-15,2890.03,11192.3,-3.077200e+10,-1.243600e+10,-1.833500e+10,2.270000e+09,2.850200e+10
84,2020-06-12,2919.74,11251.7,-1.209300e+10,-4.130000e+08,-1.168000e+10,-2.513000e+09,1.460600e+10
85,2020-06-11,2920.9,11243.6,-2.629400e+10,-7.877000e+09,-1.841600e+10,-4.490000e+08,2.674300e+10
86,2020-06-10,2943.75,11335.9,-1.838900e+10,-5.970000e+09,-1.241900e+10,-1.171000e+09,1.956000e+10
87,2020-06-09,2956.11,11284.2,-3.671000e+09,3.973000e+09,-7.644000e+09,-7.227000e+09,1.089800e+10
88,2020-06-08,2937.77,11215.8,-2.042500e+10,-5.155000e+09,-1.527000e+10,2.860000e+08,2.014000e+10
89,2020-06-05,2930.8,11180.6,-1.745100e+10,-2.623000e+09,-1.482800e+10,-3.397000e+09,2.084700e+10
90,2020-06-04,2919.25,11139.3,-2.483200e+10,-8.705000e+09,-1.612800e+10,1.113000e+09,2.372000e+10
91,2020-06-03,2923.37,11108.4,-1.443900e+10,-2.890000e+08,-1.415000e+10,-4.746000e+09,1.918500e+10
92,2020-06-02,2921.4,11112.5,-2.462400e+10,-7.727000e+09,-1.689600e+10,-1.063000e+09,2.568600e+10
93,2020-06-01,2915.43,11102.1,3.354400e+10,2.927800e+10,4.265000e+09,-1.573000e+10,-1.781300e+10
94,2020-05-29,2852.35,10746.1,1.594000e+09,6.680000e+09,-5.086000e+09,-7.073000e+09,5.479000e+09
95,2020-05-28,2846.22,10653.5,-2.066100e+10,-5.608000e+09,-1.505300e+10,-2.204000e+09,2.286600e+10
96,2020-05-27,2836.8,10682.7,-2.584300e+10,-8.940000e+09,-1.690300e+10,2.910000e+08,2.555200e+10
97,2020-05-26,2846.55,10815.4,1.394900e+10,1.132200e+10,2.627000e+09,-6.472000e+09,-7.477000e+09
98,2020-05-25,2817.97,10592.8,-2.015200e+10,-6.385000e+09,-1.376700e+10,-1.752000e+09,2.190400e+10
99,2020-05-22,2813.77,10605,-4.188000e+10,-1.747100e+10,-2.440800e+10,1.132000e+09,4.074800e+10
100,2020-05-21,2867.92,10845.4,-3.820200e+10,-1.494500e+10,-2.325700e+10,1.058000e+09,3.714400e+10
101,2020-05-20,2883.74,10948.5,-3.705900e+10,-1.356400e+10,-2.349500e+10,1.480000e+09,3.557900e+10
102,2020-05-19,2898.58,11052.9,3.380000e+08,8.297000e+09,-7.959000e+09,-6.805000e+09,6.467000e+09
103,2020-05-18,2875.42,10921.1,-3.995000e+10,-1.767400e+10,-2.227600e+10,5.890000e+09,3.405900e+10