In [37]:
import pandas as pd
import tushare as ts
from sqlalchemy import create_engine
import time
import datetime
import json
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,LSTM,Dropout
import math
from sklearn.metrics import mean_squared_error

In [38]:
with open('./parameters.json','r') as f:
    p=json.load(f)
    user = p['user']
    port = p['port']
    psw = p['password']
    host = p['host']
    token=p['TU_share_pro_taken']
    cnnstr = "mysql://" + user + ":" + psw + "@" + host + ":" + str(port) + "/stock?charset=utf8&use_unicode=1"
engine_ts = create_engine(cnnstr)
ts.set_token(token)

In [128]:
df = ts.pro_bar(ts_code='600678.SH',
                            asset='E', adj='qfq', freq='D')
df=df[['trade_date','open','high','low','close','vol']]

In [129]:
df.drop(df[np.isnan(df['close'])].index, inplace=True)  # 删除收盘价为空的所有行。
df.sort_values(by='trade_date',inplace=True)
df.head(5)

     trade_date    open    high     low   close      vol
4436   20000324  3.6733  3.6784  3.5198  3.5198  21221.0
4435   20000327  3.5301  3.6784  3.5301  3.6682  27297.0
4434   20000328  3.7091  3.7501  3.6836  3.7143  33903.0
4433   20000329  3.7245  3.7347  3.5915  3.6375  19684.0
4432   20000330  3.6324  3.6733  3.6119  3.6733  15926.0

In [105]:
moving_ndays_close=[]
for i in range(0, len(df) - 5):
    ndays = df.iloc[i:i + 5, 3]
    moving_ndays_close.append(np.mean(ndays))
# df.drop(df.tail(5).index, inplace=True)
df['moving_ndays_close'] = moving_ndays_close+list(np.zeros(5))
df.tail(10)

  trade_date  open  high   low  close       vol  moving_ndays_close
9   20201021  6.59  6.59  6.45   6.47  41759.28               6.228
8   20201022  6.46  6.46  6.25   6.35  51765.98               6.170
7   20201023  6.34  6.41  6.22   6.24  38293.43               6.130
6   20201026  6.25  6.25  6.11   6.16  38059.02               6.068
5   20201027  6.14  6.32  6.11   6.28  42970.74               6.000
4   20201028  6.28  6.34  6.16   6.23  31757.01               0.000
3   20201029  6.12  6.25  6.05   6.19  47738.27               0.000
2   20201030  6.20  6.22  5.91   5.94  70970.08               0.000
1   20201102  5.92  5.96  5.77   5.81  65548.92               0.000
0   20201103  5.80  6.14  5.80   6.09  80188.31               0.000

In [106]:
# 加工训练数据
df1= df[df['trade_date']<='20201023']
df1.tail(5)

   trade_date  open  high   low  close       vol  moving_ndays_close
11   20201019  6.64  6.75  6.63   6.66  48175.74               6.412
10   20201020  6.64  6.65  6.51   6.61  40515.06               6.308
9    20201021  6.59  6.59  6.45   6.47  41759.28               6.228
8    20201022  6.46  6.46  6.25   6.35  51765.98               6.170
7    20201023  6.34  6.41  6.22   6.24  38293.43               6.130

In [108]:
df1.drop('trade_date', axis=1, inplace=True)
ar = np.array(df1.tail(10))
ar

C:\Users\ny7146\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

array([[6.680000e+00, 6.870000e+00, 6.670000e+00, 6.840000e+00,
        6.293249e+04, 6.640000e+00],
       [6.860000e+00, 6.900000e+00, 6.750000e+00, 6.790000e+00,
        3.753800e+04, 6.632000e+00],
       [6.800000e+00, 6.800000e+00, 6.620000e+00, 6.650000e+00,
        4.890048e+04, 6.584000e+00],
       [6.720000e+00, 6.730000e+00, 6.600000e+00, 6.610000e+00,
        3.077361e+04, 6.550000e+00],
       [6.610000e+00, 6.640000e+00, 6.560000e+00, 6.620000e+00,
        3.223879e+04, 6.480000e+00],
       [6.640000e+00, 6.750000e+00, 6.630000e+00, 6.660000e+00,
        4.817574e+04, 6.412000e+00],
       [6.640000e+00, 6.650000e+00, 6.510000e+00, 6.610000e+00,
        4.051506e+04, 6.308000e+00],
       [6.590000e+00, 6.590000e+00, 6.450000e+00, 6.470000e+00,
        4.175928e+04, 6.228000e+00],
       [6.460000e+00, 6.460000e+00, 6.250000e+00, 6.350000e+00,
        5.176598e+04, 6.170000e+00],
       [6.340000e+00, 6.410000e+00, 6.220000e+00, 6.240000e+00,
        3.829343e+04, 6.130000e+00]])

In [123]:
df2=df
df.loc[:'20000328',:]
# df2.set_index(df2['trade_date'],inplace=True,drop=True)
# df2.drop('trade_date',axis=1,inplace=True)

              open    high     low   close      vol  moving_ndays_close
trade_date
20000324    3.6733  3.6784  3.5198  3.5198  21221.0             3.58738
20000327    3.5301  3.6784  3.5301  3.6682  27297.0             3.59456
20000328    3.7091  3.7501  3.6836  3.7143  33903.0             3.60478

In [124]:
scaler = MinMaxScaler(feature_range=(0,1))
data = scaler.fit_transform(df)

In [127]:
df=pd.DataFrame(data)
df

             0         1         2         3         4         5
0     0.084429  0.081171  0.085268  0.081180  0.014679  0.122070
1     0.079927  0.081171  0.085606  0.085928  0.018949  0.122314
2     0.085554  0.083354  0.090642  0.087402  0.023590  0.122662
3     0.086038  0.082885  0.087621  0.084945  0.013599  0.121269
4     0.083143  0.081015  0.088290  0.086091  0.010959  0.120398
5     0.084429  0.081015  0.086446  0.083963  0.010466  0.120363
6     0.082338  0.079770  0.087283  0.084126  0.010254  0.121338
7     0.082499  0.079145  0.083926  0.080691  0.009251  0.123880
8     0.078642  0.080236  0.083424  0.083144  0.006375  0.126491
9     0.082499  0.083199  0.088123  0.086747  0.021696  0.128684
10    0.086359  0.092234  0.091144  0.095093  0.055410  0.130251
11    0.095204  0.093635  0.099537  0.095749  0.050229  0.131191
12    0.094079  0.090675  0.096515  0.092310  0.017953  0.130564
13    0.090540  0.088184  0.093999  0.091328  0.013851  0.130738
14    0.089575  0.088650  0.095675  0.093459  0.011880  0.131644
15    0.091989  0.089430  0.095675  0.092310  0.009728  0.131644
16    0.090540  0.093014  0.096515  0.095749  0.024083  0.131818
17    0.094400  0.091610  0.097355  0.096076  0.011662  0.130773
18    0.094400  0.091299  0.098362  0.094604  0.009409  0.129624
19    0.091989  0.088961  0.095675  0.092147  0.013054  0.128545
20    0.090863  0.090675  0.096515  0.094438  0.013828  0.127327
21    0.085554  0.088650  0.091479  0.090838  0.010616  0.125482
22    0.088129  0.086780  0.091817  0.089367  0.012297  0.124611
23    0.088773  0.088184  0.093159  0.089693  0.008059  0.123915
24    0.088129  0.084755  0.089803  0.086420  0.010388  0.122174
25    0.083948  0.081171  0.087621  0.086091  0.008773  0.119981
26    0.084429  0.081015  0.087283  0.084782  0.008026  0.118414
27    0.082983  0.081640  0.088461  0.085601  0.004905  0.116673
28    0.083788  0.080549  0.084766  0.081346  0.005549  0.115246
29    0.078642  0.076341  0.079228  0.076109  0.006399  0.114654
...        ...       ...       ...       ...       ...       ...
4407  0.189944  0.185979  0.200108  0.194438  0.048605  0.236559
4408  0.190572  0.186284  0.197483  0.193159  0.039095  0.235606
4409  0.187429  0.182020  0.196170  0.190599  0.037607  0.234994
4410  0.187429  0.184761  0.195514  0.195078  0.044310  0.233088
4411  0.191515  0.185370  0.200108  0.194438  0.034961  0.229958
4412  0.187743  0.183543  0.195514  0.189960  0.035035  0.225943
4413  0.186800  0.180802  0.194530  0.188360  0.027657  0.223152
4414  0.183342  0.177757  0.186984  0.180682  0.048142  0.220430
4415  0.177370  0.172884  0.180422  0.178442  0.044256  0.220294
4416  0.174541  0.170143  0.180750  0.175563  0.025019  0.221995
4417  0.173284  0.168925  0.182062  0.175883  0.021763  0.224173
4418  0.173598  0.168621  0.181406  0.177483  0.025122  0.225194
4419  0.176427  0.172884  0.186328  0.181002  0.027440  0.226215
4420  0.178942  0.178366  0.188624  0.187400  0.043988  0.225943
4421  0.184600  0.179279  0.191249  0.185801  0.026145  0.225670
4422  0.182714  0.176234  0.186984  0.181322  0.034128  0.224037
4423  0.180199  0.174102  0.186328  0.180042  0.021391  0.222880
4424  0.176741  0.171362  0.185015  0.180362  0.022421  0.220498
4425  0.177684  0.174711  0.187312  0.181642  0.033619  0.218184
4426  0.177684  0.171666  0.183375  0.180042  0.028236  0.214645
4427  0.176113  0.169839  0.181406  0.175563  0.029111  0.211923
4428  0.172026  0.165880  0.174844  0.171724  0.036142  0.209950
4429  0.168254  0.164357  0.173860  0.168205  0.026675  0.208589
4430  0.165425  0.159485  0.170251  0.165646  0.026511  0.206479
4431  0.161967  0.161616  0.170251  0.169485  0.029962  0.204165
4432  0.166368  0.162226  0.171892  0.167885  0.022082  0.000000
4433  0.161339  0.159485  0.168283  0.166605  0.033312  0.000000
4434  0.163853  0.158571  0.163689  0.158607  0.049636  0.000000
4435  0.155052  0.150653  0.159096  0.154448  0.045827  0.000000
4436  0.151280  0.156135  0.160080  0.163406  0.056113  0.000000

[4437 rows x 6 columns]

In [130]:
df1=df
df1.head(5)

     trade_date    open    high     low   close      vol
4436   20000324  3.6733  3.6784  3.5198  3.5198  21221.0
4435   20000327  3.5301  3.6784  3.5301  3.6682  27297.0
4434   20000328  3.7091  3.7501  3.6836  3.7143  33903.0
4433   20000329  3.7245  3.7347  3.5915  3.6375  19684.0
4432   20000330  3.6324  3.6733  3.6119  3.6733  15926.0

In [131]:
t= df1.pop('trade_date')

In [134]:
scaler = MinMaxScaler(feature_range=(0,1))
data = scaler.fit_transform(df1)

array([[0.08442881, 0.08117063, 0.08526827, 0.08118   , 0.01467925],
       [0.07992745, 0.08117063, 0.0856062 , 0.08592763, 0.01894861],
       [0.08555415, 0.08335414, 0.09064244, 0.08740246, 0.02359037],
       ...,
       [0.16385332, 0.15857112, 0.16368922, 0.15860732, 0.04963589],
       [0.15505177, 0.15065323, 0.15909591, 0.15444834, 0.04582666],
       [0.15127968, 0.15613485, 0.16008019, 0.16340614, 0.05611316]])

In [135]:
d=pd.DataFrame(data)

In [138]:
dd=pd.merge(t,d)
dd

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>