In [2]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

In [3]:
engine = create_engine('mysql://stock:Stock_789@192.168.88.106:3306/stock?charset=utf8&use_unicode=1')
sql = "select * from stock.stock_historic where ts_code='000001.SZ'"
df_StockPrice=pd.read_sql_query(sql,engine)
df_StockPrice.sort_values(by='trade_date',inplace=True,ascending=True)
df_StockPrice.head()

,id,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,update
3811,4070,000001.SZ,2005-01-04,1.4845,1.4845,1.4552,1.4687,1.4845,-0.0158,-1.0643,17608.3,11465.6,2020-09-27 11:05:37
3810,4069,000001.SZ,2005-01-05,1.4687,1.4755,1.4304,1.4552,1.4687,-0.0135,-0.9192,32221.4,20718.6,2020-09-27 11:05:37
3809,4068,000001.SZ,2005-01-06,1.4642,1.4845,1.4529,1.4687,1.4552,0.0135,0.9277,26664.1,17333.8,2020-09-27 11:05:37
3808,4067,000001.SZ,2005-01-07,1.4822,1.4867,1.4552,1.4665,1.4687,-0.0022,-0.1498,18861.5,12302.9,2020-09-27 11:05:37
3807,4066,000001.SZ,2005-01-10,1.4665,1.4845,1.4349,1.4845,1.4665,0.0180,1.2274,26320.6,17111.5,2020-09-27 11:05:37